/* reset rules */
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general rules */
:root   {
    font-family: 'PT Sans';
    font-size: 10px;
}

/************************************
             MOBILE FIRST
************************************/

/* header style */
header  {
    background-color: rgb(0, 132, 253);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    width: calc(90% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.menu_desktop   {
    display: none;
}

/* intro style */
.intro  {
    padding-top: 10vh;
    width: 100%;
    font-size: 2rem;
}

.intro_container    {
    margin: 2rem auto;
    width: 90%;
    text-align: center;
}

.card   {
     width: 100%;
     padding: 1rem;
}

.card_container {
    background-color: rgb(181, 221, 255);
    border-radius: 25px;
    padding: 2rem;
}

.intro_container    h2      {
    color: rgb(5, 134, 253);
    margin-bottom: 2rem;
}

.intro_container p  {
    text-align: left;
    margin-bottom: 3rem;
}

.intro_container .app_store {
    background-color: rgb(0, 132, 253);
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    margin-bottom: 2rem;
}

.app_store     a    {
    text-decoration: none;
    color: white;
}

.app_store span {
    margin-left: 1rem;
}

.card_container_img img {
    width: 100%;

}

.card_container p {
    text-align: center;
}


/************************************
            TABLET VERSION
************************************/
@media all and (min-width: 481px)   {

    /* header same of mobile version */

    /* intro section */
    .intro_container    {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }

    #demo   {
        width: calc(100% / 3 * 2);
    }

    .intro_container .card  {
        width: calc(100% / 3);
        margin-bottom: 0;
    
    }

}

/************************************
            DESKTOP VERSION
************************************/
@media all and (min-width: 768px)   {

    /* header style */
    nav    {
        width: calc(70% - 2rem);
    }

    .menu_mobile_tablet    {
        display: none;
    }

    .menu_desktop   {
        display: flex;
    }

    .menu_desktop ul    {
        list-style: none;
    }

    .menu_desktop li    {
        display: inline;
    }    

    .menu_desktop a     {
        color: white;
        text-decoration: none;
        margin-right: 1.5rem;
    }

    .intro_container    {
        width: 70%;
    }
}
