/* reset rules */
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general rules */
:root   {
    font-family: 'PT Sans';
    font-size: 10px;
}

/************************************
             MOBILE FIRST
************************************/

/* header style */
header  {
    background-color: rgb(0, 132, 253);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.menu_desktop   {
    display: none;
}

/* intro style */
.intro  {
    padding-top: 10vh;
    font-size: 2rem;
}

.intro_container    {
    width: 90%;
    margin: 2rem auto;
}

.card   {
    border-radius: 25px;
    background-color:rgb(181, 221, 255);
    margin: 1rem auto;
    width: 100%;
}


.intro_container    h2      {
    color: rgb(5, 134, 253);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.card p  {
    text-align: left;
    padding: 1rem 2rem 2rem 2rem;
}

.intro_container .app_store {
    background-color: rgb(0, 132, 253);
    border-radius: 25px;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto 2rem auto;
}

.app_store     a    {
    text-decoration: none;
    color: white;
}

.app_store span {
    margin-left: 1rem;
}

.card  img {
    width: 100%;
}

.card p {
    text-align: center;
}

.card   .i   {
    text-align: center;
    padding-top: 2rem;
}

.simple p   {
    padding-bottom: 2rem;
}

/* strategic planning section */
.strategy  {
    background-color: #9792E5;
    margin-top: 5rem;
    font-size: 2rem;
}

.strategy_container {
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
}

/* start style content a */
.strategy_content_a {
    padding-top: 5rem;
}

.strategy_content_a img {
    width: 100%;
}

.content_a_text {
    color: white;
    margin-top: 8rem;
    text-align: left;
}

.content_a_text p   {
    margin-top: 5rem;
}
/* end style content a */

/* start style content b */
.strategy_content_b {
    margin-top: 5rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    width: 100%;
    background-color: white;
    text-align: center;
}

.strategy_content_b img {
    width: 100%;
}

.strategy_content_b h2  {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.strategy_content_b p   {
    font-style: italic;
    margin: 0 2rem;
}

.arrow_button   {
    margin: auto;
    margin-top: 5rem;
    background-color: #9792E5;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
}
/* end style content b */

/* end style strategic planning section */


/* start style testimonial section */
.testimonials   {
    font-size: 2rem;
    padding-top: 5rem;
}

.testimonials_container  {
    width: 90%;
    margin: auto;
}

.testimonial_intro  {
    text-align: center;
}

.testimonial_intro h2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #9792E5;
}

.testimonial_card   {
    background-color: #9792E5;
    border-radius: 25px;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin:auto;
    background-image: url();
    /* debug */
    border: 2px solid black;
}

.testimonial_review {
    margin: 3rem; 
}

/* end style testimonial section */

/* bebefits section */
.benefits_title {
    background-color: #9792E5;
    font-size: 2rem;
    text-align: center;
    margin-top: 10rem;
    padding: 5rem;
    color: white;
}

.benefits_card_section  {
    background-color: #9792E5;
}

.benefits_card_container    {
    width: 90%;
    margin: auto;
    padding-bottom: 3rem;
}

.benefits_cards {
    padding: 3rem;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 3rem;
}

/* benefits card contnet style */
.benefits_card_content  {
    font-size: 2rem;
    color: #9792E5;
    width: 90%;
    margin: auto;
}

.benefits_card_content span {
    height: 50%;
    margin-bottom: 3rem;
}

.benefits_card_content h2   {
    margin-bottom: 2rem;
}

.benefits_card_content p    {
    margin-bottom: 3rem;
    color: black;
    font-size: 1rem;
}

.more_button    {
    background-color: #9792E5;
    border-radius: 25px;
    width: fit-content;
    padding: 1rem 4rem;
}

.more_button a {
    text-decoration: none;
    color: white;
}

/* about us section */
.about_us   {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 2rem;
}

.about_us_container {
    width: 90%;
    margin: auto;
}

.about_us_text  {
    width: 100%;
}

.about_us_img   {
    width: 100%;
    padding-top: 4rem;
}

.about_us_text h2   {
    color: #9792E5;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.about_us_text p    {
    line-height: 5rem;
}

.about_us_img {
    text-align: left;
}

.about_us_img_top   {
    position: relative;
    width: fit-content;
    display: flex;
}

.about_us_circle    {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

.about_us_img_top i {
    position: absolute;
    top: 2rem;
    right: 0.5rem;
}

.about_us_img p {
    color: #9792E5;
    margin-top: 2rem;
    font-size: 3rem;
}

.linkedin_button    {
    background-color: #9792E5;
    width: fit-content;
    border-radius: 25px;
    padding: 1rem;
    margin-top: 2rem;
}

.linkedin_button   a {
    text-decoration: none;
}

/* it's free section  */
.free   {
    background-color: #9792E5;
    padding: 5rem;
}

.free_container {
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

.started    {
    color: white;
}

.simple {
    padding-top: 5rem;
    font-size: 3rem;
    color: white;
    
}

.free   {
    font-size: 5rem;
    padding-top: 5rem;
    color: #FDC15E;
}

.free_container p   {
    color: white;
}

/* get started button */
.started_button {
    margin: 5rem auto;
    width: fit-content;
    border-radius: 25px;
    background-color: white;
    padding: 1rem 4rem;
}

.started_button a {
    text-decoration: none;
    color: #9792E5;
}

.copyright  {
    color: white;
}

/************************************
            TABLET VERSION
************************************/
@media all and (min-width: 481px)   {

    /* header */
    nav    {
        width: calc(90% - 1rem);
    }

    /* intro section */
    .intro_container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    } 
    
    #demo   {
        width: calc(100% / 3 * 2 - 1rem);
    }

    .card   {
        margin: 0;
        width: calc(100% / 3 - 1rem);
    }

    /* testimonial section */

    .testimonal_card_content    {
        display: flex;
        width: 90%;
        margin: auto;
        align-items: center;
    }

    /* benefits section */
    .benefits_card_container  {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .benefits_cards {
        width: calc(50% - 1rem);
        margin-bottom: 0;
    }

    /* about us section */
    .about_us_container {
        display: flex;
        align-items:first baseline;
    }


    .about_us_img   {
        height: fit-content;
        margin-left: 5rem;
    }

}


/************************************
            DESKTOP VERSION
************************************/
@media all and (min-width: 768px)   {

    /* header style */
    nav    {
        width: calc(70%);
    }

    .menu_mobile_tablet    {
        display: none;
    }

    .menu_desktop   {
        display: flex;
    }

    .menu_desktop ul    {
        list-style: none;
    }

    .menu_desktop li    {
        display: inline;
    }    

    .menu_desktop a     {
        color: white;
        text-decoration: none;
        margin-right: 1.5rem;
    }

    .intro_container    {
        width: 70%;
    }

    #demo   {
        display: flex;
        align-items: last baseline;
    }

    #demo .demo_text    {
        width: 50%;
        padding-left: 2rem;
        height: fit-content;
    }

    #demo   .demo_img   {
        width: 50%;
    }

    /* strategic palnning section */
    .strategy_container {
        width: 70%;
        display: flex;
        align-items: last baseline;
    }

    .strategy_content_a {
        width: 50%;
        margin-right: 2rem;
    }

    .strategy_content_b {
        width: 50%;
    
    }

    /* testiomonial section */
    .testimonials_container {
        width: 70%;
    }

    /* benefits section */
    .benefits_card_container    {
        width: 70%;
    }

    .benefits_cards {
        width: calc(100% / 3 - 1rem);
    }

    /* about us sectio */
    .about_us_container {
        width: 70%;
    }
}
