/* reset rules */
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general rules */
:root   {
    font-family: 'PT Sans';
    font-size: 10px;
}

/************************************
             MOBILE FIRST
************************************/

/* header style */
header  {
    background-color: rgb(0, 132, 253);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.menu_desktop   {
    display: none;
}

/* intro style */
.intro  {
    padding-top: 10vh;
    font-size: 2rem;
}

.intro_container    {
    width: 90%;
    margin: 2rem auto;
}

.card   {
    border-radius: 25px;
    background-color:rgb(181, 221, 255);
    margin: 1rem auto;
    width: 100%;
}


.intro_container    h2      {
    color: rgb(5, 134, 253);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.card p  {
    text-align: left;
    padding: 1rem 2rem 2rem 2rem;
}

.intro_container .app_store {
    background-color: rgb(0, 132, 253);
    border-radius: 25px;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto 2rem auto;
}

.app_store     a    {
    text-decoration: none;
    color: white;
}

.app_store span {
    margin-left: 1rem;
}

.card  img {
    width: 100%;
}

.card p {
    text-align: center;
}

.card   .i   {
    text-align: center;
    padding-top: 2rem;
}

.simple p   {
    padding-bottom: 2rem;
}

/* strategic planning section */
.strategy  {
    background-color: #9792E5;
    margin-top: 5rem;
    font-size: 2rem;
}

.strategy_container {
    width: 90%;
    margin: auto;
    /* debug */
    border: 5px solid yellow;
}

/* start style content a */
.strategy_content_a {
    padding-top: 5rem;
    /* debug */
    border: 3px solid black;
}

.strategy_content_a img {
    width: 100%;
}

.content_a_text {
    color: white;
    margin-top: 8rem;
    text-align: left;
    /* debug */
    border: 3px solid blue;
}

.content_a_text p   {
    margin-top: 5rem;
}
/* end style content a */

/* start style content b */
.strategy_content_b {
    margin-top: 5rem;
    padding-bottom: 2rem;
    border-radius: 25px;
    width: 100%;
    background-color: white;
    text-align: center;
}

.strategy_content_b img {
    width: 100%;
}

.strategy_content_b h2  {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.strategy_content_b p   {
    font-style: italic;
}

.arrow_button   {
    margin: 5rem auto;
    background-color: #9792E5;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
}
/* end style content b */







/************************************
            TABLET VERSION
************************************/
@media all and (min-width: 481px)   {

    /* header */
    nav    {
        width: calc(90% - 1rem);
    }

    /* intro section */
    .intro_container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    } 
    
    #demo   {
        width: calc(100% / 3 * 2 - 1rem);
    }

    .card   {
        margin: 0;
        width: calc(100% / 3 - 1rem);
    }

}


/************************************
            DESKTOP VERSION
************************************/
@media all and (min-width: 768px)   {

    /* header style */
    nav    {
        width: calc(70%);
    }

    .menu_mobile_tablet    {
        display: none;
    }

    .menu_desktop   {
        display: flex;
    }

    .menu_desktop ul    {
        list-style: none;
    }

    .menu_desktop li    {
        display: inline;
    }    

    .menu_desktop a     {
        color: white;
        text-decoration: none;
        margin-right: 1.5rem;
    }

    .intro_container    {
        width: 70%;
    }

    #demo   {
        display: flex;
        align-items: last baseline;
    }

    #demo .demo_text    {
        width: 50%;
        padding-left: 2rem;
        height: fit-content;
    }

    #demo   .demo_img   {
        width: 50%;
    }
}
